<div class="card mb-1 ">
    <div class="card-header" style="background-color: turquoise;">
        <%= message.user.email %>
    </div>
    <div class="card-body ">
        <%= message.data %>
    </div>
</div>